@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    text-decoration: none;
  }
  
 